<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
        {% load static %}
    <link rel="stylesheet" href="{% static 'student.css' %}">
</head>
<body>
<button align="right"><a href="http://127.0.0.1:8000/">HOME</a></button>
<h1>STUDENT LIST</h1>
{% if datas %}

    <table align="center" border="2" id="table" class="table" border=9px cellspacing='9' cellpadding='9' bordercolor='purple'>
        <tr>
            <th>NAME</th>
            <th>ROLL NUMBER</th>
            <th>VIEW</th>
        </tr>
        {% for data in datas %}

        <tr>
            <td style="text-transform: uppercase">{{data.name}}</td>
            <td>{{data.rollnumber}}</td>
            <td><button><a href="stdlogin/{{data.rollnumber}}">VIEW</a></button></td>
        </tr>

        {% endfor %}

    </table>
    {% endif %}
</body>

</html>